<?xml version="1.0"?>
<launch>
  <!-- Launch parameters -->
  <arg name="output" default="screen" /> <!-- screen/log -->
  <arg name="required" default="true" />
  <arg name="respawn" default="false" />

  <!-- Node parameters -->
  <arg name="interface"     default="" />
  <arg name="ip_address"    default="" />
  <arg name="port"          default="3000" />
  <arg name="frame_id_gps"  default="gps" />
  <arg name="frame_id_vel"  default="enu" />
  <arg name="frame_id_odom" default="base_footprint" />

<arg name="interface_tcp_server"     default="" />
<arg name="ip_addr_tcp_server"    default="" />
<arg name="port_tcp_server"          default="" />

<arg name="interface_tcp_client"     default="" />
<arg name="ip_addr_tcp_client"    default="" />
<arg name="port_tcp_client"          default="" />

  <node pkg="oxford_gps_eth" type="tcp_receive" name="tcp_receive" respawn="$(arg respawn)" required="$(arg required)" output="$(arg output)">
    <param name="frame_id_gps"  value="$(arg frame_id_gps)" />
    <param name="frame_id_vel"  value="$(arg frame_id_vel)" />
    <param name="frame_id_odom" value="$(arg frame_id_odom)" />
  </node>

</launch>
